<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2 class = "title-form">VENDRE MA VOITURE</h2>
        <%= simple_form_for [@driver] do |f| %>
        <div class="form-inputs">
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :first_name,label: "Prénom" %>
          <%= f.input :email,label: "E-mail"  %>
          <%= f.input :téléphone, label: "Téléphone" %>
          <%= f.input :rdv, label: "Prise de rendez-vous" %>
        </div>
        <div class="form-actions">
          <div class = "white "></div>
       <%= button_tag type: 'submit', class: "btn btn-primary" do %>
    <i class="fas fa-arrow-right"></i>
    <% end %>


      </div>
      <% end %>
      <!-- Insert form here -->
    </div>
  </div>
</div>
</div>


